<!DOCTYPE html>

<html lang="pt-br" data-textdirection="ltr">
<%- include("partials/header") %>
<link href="/css/flatpickr.min.css" rel="stylesheet" type="text/css">
    <style>
        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            padding: 0px 0px !important;
            border-width: 0 !important;
        }

        tr.odd,
        tr.evan {
            border: none !important;
            border-style: none !important;
            border-color: inherit !important;

            border-width: 0 !important;
        }
    </style>



    <!-- BEGIN: Body-->

    <body data-sidebar-size="default" data-layout-width="fluid" data-layout-menu-position="fixed"
        data-sidebar-color="light" data-sidebar-showuser="false" data-topbar-color="light">
        <!-- Begin page -->
        <div id="wrapper">

            <%- include("partials/nav") %>
                <%- include("partials/menu") %>

                    <!-- ============================================================== -->
                    <!-- Start Page Content here -->
                    <!-- ============================================================== -->

                    <div class="content-page">
                        <div class="content">

                            <div class="container-fluid">

                             


                <div class="row page-title align-items-center">
                    <div class="col-sm-7 col-xl-6">
                        <div>
                        <h4 class="mb-1 mt-3">Consulta Patrimonio</h4>
                       
                        </div>
                    </div>
                    <div class="col-sm-5 col-xl-6">
                        
                        <div class="d-lg-flex align-items-right mb-2 mt-2" style="text-align: right; float: right;">
                            <div class="file-search  me-1">
                                <form>
                                    <div class="input-group align-items-center">
                                        <i class="bi bi-search icon-search bg-light ms-2"></i>
                                        <input type="text" id="busca" class="form-control search-input bg-light border-0 mt-1" placeholder="Buscar pela Plaqueta">
                                    </div>
                                </form>
                            </div>
             
                        </div>
                    </div>
                </div>

                          
                                <!-- end page title -->

                                <!-- tasks panel -->
                                <div class="row patrimonio">

                                    <div class="load spinner-border text-primary m-2 justify-content-center"
                                        role="status">
                                        <span class="visually-hidden">Carregando...</span>
                                    </div>

                                </div>

                            </div>
                        </div> <!-- content -->

                    </div>

                    <%- include('partials/footer') %>
                    <script src="/js/patrimonio.init.js?v=<%-Date.now()%>"></script>






    </body>
    <!-- END: Body-->

</html>